.app-container {
  display: flex;
  height: 100vh;
}

.app-container.with-sidebar .main-content {
  margin-left: 250px; /* Adjust for the fixed sidebar width */
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.menu-item {
  background-color: #eaeaea;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-item a,
.menu-item button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.menu-item:hover {
  background-color: #d6d6d6;
}

.logout-container {
  position: absolute;
  bottom: 50px;
  width: calc(100% - 60px);
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 80%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.loader {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #f44336; /* Red for logout */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
